@model IEnumerable<AppInmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Edit";

}

<h1>Listado de Contratos De un Inmueble en Particular</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    @* <td>
            @Html.DisplayFor(modelItem => item.InmuebleId)
            </td> *@
                    <td>
                        @item.inmueble.ToString()
                    </td>
                    @* <td>
            @Html.DisplayFor(modelItem => item.InquilinoId)
            </td> *@
                    <td>
                        @item.inquilino.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoMensual)
                    </td>

                    <td>
                        @Html.ActionLink("Pagos", "Index","Pagos", new { id=item.Id} ,new{@class ="btn btn-primary"})

                        @Html.ActionLink("Renovar", "Renovar", new { id=item.Id} ,new{@class ="btn btn-primary"})
                        @Html.ActionLink("Listado", "Listado", new { id=item.Id} ,new{@class ="btn btn-primary"})


                        @Html.ActionLink("Editar", "Edit", new { id=item.Id} ,new{@class ="btn btn-warning"})
                        @Html.ActionLink("Detalle", "Details", new {id=item.Id}, new {@class = "btn btn-dark"})

                        @if (User.IsInRole("Administrador"))
                        {
                            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new{@class="btn btn-danger"})
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <p>El modelo es nulo o no contiene datos.</p>
                </td>

            </tr>
        }
    </tbody>
</table>
