@model IEnumerable<AppInmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Index";

}
<h1>Inmuebles</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superficie)
                </td>
                <td>
                    @(item.estado ? "Disponible" : "No Disponible")
                </td>
                <td>
                    @{
                        var fullName = (item.duenio.Nombre + " " + item.duenio.Apellido);
                        @Html.DisplayFor(modelItem => fullName)
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id}, new{@class="btn btn-warning"})
                    @Html.ActionLink("Detalle", "Details", new { id=item.Id },new{@class="btn btn-dark"})
                    @if (User.IsInRole("Administrador"))
                    {
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.Id },new{@class="btn btn-danger"})
                    }

                </td>
            </tr>

        }
    </tbody>
</table>
