@model IEnumerable<AppInmobiliaria.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Propietarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new{@class="btn btn-warning"})
                    @Html.ActionLink("Detalle", "Detalle", new { id=item.Id },new{@class="btn btn-dark"})
                    @if (User.IsInRole("Administrador"))
                    {
                        @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id}, new{@class="btn btn-danger"})
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
